#--------------------------------------------------------------------------
# Protect include files from being directly accessible
#--------------------------------------------------------------------------

Options - Indexes